section {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 300px;
  gap: 2rem;
  container-type: inline-size;
  padding: 2rem;
}

.container-wrapper {
  container-type: inline-size;
}

article {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
  padding-top: 1rem;
  justify-content: space-between;
  min-height: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

  /* & > div {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
  } */

  & .main_flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
  }

  .quick_info_flex:has(button) p::before {
    content: "\2713"; /* Checkmark symbol */
    font-size: 1.5em; /* Adjust size as needed */
    color: green; /* Adjust color as needed */
    margin-right: 5px; /* Space between the icon and text */
  }

  .quick_info_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @container (width<500px) {
    /* & > div {
      display: flex;
      padding: 0 1.5rem 0 1.5rem;
      align-items: center;
      justify-content: space-between;
      gap: 0;
    } */

    & .main_flex {
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      gap: 2rem;
    }

    /* 
    & img {
      height: auto;
      width: 5rem;
    }

    & h2 {
      font-size: 1.5rem;
    } */

    & .quick_info_flex {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .para {
      display: none;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(73, 73, 225);
  font-weight: 500;
}

h2,
.price {
  font-size: 1.2rem;
  font-weight: 450;
  z-index: 1;
  line-height: 1.1;
  color: var(--gray-1000);
  margin-block-start: calc(0.5cap - 0.5lh);
}

img {
  width: 8rem;

  flex-shrink: 0; /* Prevents the image from shrinking */
  flex-grow: 0; /* Prevents the image from growing */

  /* width: 10vw;
  height: auto; */
}

.para {
  margin-top: 2rem;
}

@media (max-width: 700px) {
  section {
    grid-template-columns: 1fr;
  }
}
