---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>

 
  ul {
    list-style: none;
    display: flex;
    padding:0rem;
    flex-direction: row;
    gap:1.5rem; 
    align-items: flex-start;
    overflow-x: auto;
    padding-inline: var(--gap);
    
    &>*{
      min-width: 25rem ;
      background-color: var(--card-background);
      padding: 1.5rem;
      border-radius: 30px;
      align-self: flex-start;
      margin-bottom: 2rem;
    }
    
  }
</style>
